.pr-header {
    --header-bg: var(--powder-blue);
    --header-logo: var(--honeydew);

    padding: 1rem;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px dashed var(--powder-blue);
    }
}
.pr-logo {
    font-size: 2.5rem;
    color: var(--prussian-blue);
    // text-shadow: 3px 3px var(--honeydew);
    font-weight: 900;
    font-style: italic;
}
.pr-nav {
    display: flex;
    column-gap: 1rem;
    a {
        font-weight: 700;
        color: var(--imperial-blue);
        text-decoration: none;
        padding: 0.5rem 1rem;
        border: 2px dashed transparent;
        transition: border-color 0.4s ease-in-out, color 0.2s ease-in-out;
        &:hover,
        &:focus,
        &:active {
            border-color: var(--powder-blue);
            color: var(--imperial-red);
        }
    }
}

.hero {
    .accent {
        font-size: 900;
        font-style: italic;
    }
    p {
        font-size: 1.5rem;
    }
    svg {
        width: 30vw;
    }
    #back {
            fill: var(--imperial-red);
            opacity: 0.75;
            mix-blend-mode: multiply;
            transform: translate(1rem, 1rem);
            // animation: vibrate 5s infinite alternate-reverse;
    }
    #front {
            fill: var(--powder-blue);
            opacity: 0.75;
            mix-blend-mode: multiply;
            // animation: vibrate 7s infinite alternate;
    }
    @keyframes vibrate {
        0% {transform: translate(0rem, 0rem);}
        25% {transform: translate(0rem, 0.5rem);}
         50% {transform: translate(-0.5rem, 0rem);}
         75% {transform: translate(0.5rem, -0.5rem);}
        100% {transform: translate(0.5rem, 0.5rem);}
      }
}
