<div class="deck">
	{% if heading %}
		<h2 class="deck__heading">
			{{heading}}
		</h2>
	{% endif %}
    {% if content %}
        <div class="deck__content">
            {{content}}
        </div>
    {% endif %}
	{% if cards %}
		<div class="deck__grid">
			{% for card in cards %}
				<div class="deck__item">
					{% include "@components/card/card.twig" with card %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>
