{% set palette = palette|default("primary") %}

<div class="card palette--{{palette}}">
    <h3>Card Heading</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae soluta omnis, sunt dolor est possimus voluptatum asperiores molestias quis, recusandae qui fuga rem labore cum pariatur doloribus, alias voluptates quisquam!</p>
</div>