<div class="player">
	<video class="player__video" width="100%">
		<source src="{{media_src}}" type="video/mp4">
		<track label="English" kind="subtitles" srclang="en" src="./captions.vtt" default/>
		<p>Your browser does not support the video tag.</p>
	</video>
	<div class="player__controls">
    <input type="range" class="player__progress" min="0" max="100" step="any" value="0" />
		<div class="player__controls__group">
			<button class="play">Play/Pause</button>
			<button class="stop">Stop</button>
			<div class="player__controls__time">
				<span class="player__controls__time__current">00:00</span>
				/
				<span class="player__controls__time__duration">00:00</span>
			</div>
		</div>
		<div class="player__controls__group">
			<button class="player__transcript">Transcript</button>
			<button class="player__captions">Captions</button>
			<label><input type="checkbox" name="fullscreen" class="player__fullscreen">Full screen</label>
			<label><input type="checkbox" name="picture-in-picture" class="player__pip">Picture in picture</label>
		</div>
	</div>
</div>


<br><br>
<div>
	TODO:
	<ul>
		<li>buffering display</li>
		<li>caption display</li>
		<li>transcipt display</li>
		<li>on pip, set placeholder and animate to corner</li>
		<li>chapter functionality</li>
	</ul>
</div>

<video controls width="800">
		<source src="{{media_src}}" type="video/mp4">
		<track label="English" kind="subtitles" srclang="en" src="./captions.vtt" default/>
		<p>Your browser does not support the video tag.</p>
	</video>