.player {
    --color-scrubber: lightgreen;
    --color-track-viewed: darkgreen;

    position: relative;
    max-width: 800px;
    &.pip {
        position: fixed;
        right: 16px;
        bottom: 16px;
        width: 33vw;
    }
}
.player__video {
    display: block;
}
.player__controls {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.66);
    color: #fff;
}
.player__controls__group {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px;
}
.player__progress {
    flex: 0 0 100%;
    margin-bottom: 8px;
}


input[type=range]{
    overflow: hidden;
    -webkit-appearance: none;
    cursor: pointer;
    background: rgba(255,255,255,0.5);
    border: none;
    margin: 0 0 8px;
    padding: 0;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    color: #fff;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    margin: -4px 0 0 0;
    // left of thumb
    box-shadow: -2000px 0 0 2000px var(--color-track-viewed), inset 0 0 0 40px var(--color-scrubber);
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    // background: #ccc;
}