<style>
:root {
	--color-progress: {{progress}};
	--color-controls-background: {{controls_background}}
}
</style>
<video class="player__video" width="100%" preload="metadata">
	<source src="{{media_src}}" type="video/mp4">
	<track label="English" kind="subtitles" srclang="en" src="./captions.vtt" default/>
	<style>
		video::cue {
			margin-bottom: 6em;
		}
	</style>
	<p>Your browser does not support the video tag.</p>
</video>


<br><br>
<div>
	TODO:
	<ul>
		<li>buffering display</li>
		<li>caption display</li>
		<li>transcipt display</li>
		<li>on pip, set placeholder and animate to corner</li>
		<li>chapter functionality</li>
	</ul>
</div>

{# <video controls width="800">
		<source src="{{media_src}}" type="video/mp4">
		<track label="English" kind="subtitles" srclang="en" src="./captions.vtt" default/>
		<p>Your browser does not support the video tag.</p>
	</video> #}
