<div class="player">
	<video class="player__video" width="100%">
		<source src="{{media_src}}" type="video/mp4">
		<track label="English" kind="subtitles" srclang="en" src="/captions.srt" default/>
		<p>Your browser does not support the video tag.</p>
	</video>
	<div class="player__controls">
    <input type="range" class="player__progress" min="0" max="100" step="any" value="0" />
		<div class="player__controls__group">
			<button class="play">Play/Pause</button>
			<button class="stop">Stop</button>
			<div class="player__controls__time">
				<span class="player__controls__time__current">00:00</span>
				/
				<span class="player__controls__time__duration">00:00</span>
			</div>
		</div>
		<div class="player__controls__group">
			<button>Transcript</button>
			<button>Captions</button>
			<button>Full Screen</button>
			<button>PIP</button>
		</div>
	</div>
</div>
